<section class="hero is-fullheight" appBackground="assets/mountains.jpg">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1">
                Travel Pitch
            </h1>
            <h2 class="subtitle is-3">
                Pitching a trip
            </h2>
        </div>
    </div>
</section>

<section class="hero is-fullheight" appBackground="assets/lake.jpg">
    <div class="hero-body">
        <div class="container">
            <div class="card">
                <div class="card-content">
                    <div class="columns">
                        <div class="column">
                            <h1 class="subtitle">Schweiz</h1>
                            <p>Schweiz är en förbundsrepublik i Centraleuropa, som gränsar till Frankrike, Tyskland,
                                Italien, Österrike och Liechtenstein. I de norra delarna av landet ligger Jurabergen och
                                i de södra och östra ligger Alperna.

                                Schweiz har en lång tradition av politisk och militär neutralitet, men även av indirekt
                                internationellt samarbete då det är hem för många internationella organisationer. Landet
                                är sedan september 2002 medlem av Förenta nationerna (FN), vilken även har ett av
                                sina huvudkontor i Genève. Nationernas förbund hade sitt högkvarter i Schweiz. Flera
                                andra organisationer har sina huvudkontor i Schweiz, däribland World Economic Forum,
                                Röda Korset och Världshandelsorganisationen. </p>
                        </div>
                        <div class="column">
                            <figure class="image">
                                <img src="assets/map.png">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hero is-fullheight" appBackground="assets/overlook.jpg">
    <div class="hero-body">
        <div class="container">
            <div class="card">
                <div class="card-content">
                    <h1 class="subtitle">Budget</h1>
                    <p>Hello</p>
                </div>
            </div>
        </div>
    </div>
</section>

<app-pager (previous)="scrollUp()" (next)="scrollDown()"></app-pager>
