<section class="hero is-fullheight" appBackground="assets/plane.jpg">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1 has-text-white">
                Travel Pitch
            </h1>
            <h2 class="subtitle is-3 has-text-white">
                Pitching a trip
            </h2>
        </div>
    </div>
</section>

<section class="hero is-fullheight" appBackground="assets/sky-sunset-2.jpg">
    <div class="hero-body">
        <div class="card" style="margin:auto;">
            <div class="card-content">
                <figure class="image">
                    <img src="assets/arn-nice.png" style="width:80vmin; height:80vmin;">
                </figure>
            </div>
        </div>
    </div>
</section>

<section class="hero is-fullheight" appBackground="assets/nice-night.jpg">
    <div class="hero-body">
        <div class="container">
            <div class="card">
                <div class="card-content">
                    <div class="columns">
                        <div class="column">
                            <h1 class="subtitle">Nice</h1>
                            <p class="content">Frankrike är bland annat förknippat med god mat och fantastiska viner,
                                vackert språk,
                                sofistikerad kultur och livsnjutning i största allmänhet. Nice på Franska Rivieran är
                                lite av landets Rolls-Royce. Här omsveps du av precis allt som den franska härligheten
                                har att bjuda på. Du promenerar längs stranden, känner doften från havet och njuter av
                                mat och dryck som kommer fastna i ditt gastronomiska minne för en väldigt lång tid
                                framöver. Du solar, badar, besöker sevärdheter och tar del av ett fantastiskt nöjesliv.
                                Du spenderar tid på shopping som du inte hittar på hemmaplan. Du gör precis så mycket -
                                eller lite - som du själv vill. I Nice lever du och mår bra.
                            </p>
                            <p class="content">I Nice hittar du ett enormt utbud av restauranger, caféer, barer och
                                andra typer av
                                serveringar som förser dig med högklassiga råvaror och spännande rätter från det franska
                                köket, men även övriga världen.
                            </p>
                        </div>
                        <div class="column">
                            <figure class="image">
                                <img src="assets/nice-map.png">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="hero is-fullheight" appBackground="assets/road-sunset.jpg">
    <div class="hero-body">
        <div class="card" style="margin:auto;">
            <div class="card-content">
                <figure class="image">
                    <img src="assets/nice-mon.png" style="width:80vmin; height:80vmin;">
                </figure>
            </div>
        </div>
    </div>
</section>

<section class="hero is-fullheight" appBackground="assets/montpellier.jpg">
    <div class="hero-body">
        <div class="container">
            <div class="card">
                <div class="card-content">
                    <div class="columns">
                        <div class="column">
                            <h1 class="subtitle">Montpellier</h1>
                            <p class="content">Montpellier är Frankrikes åttonde största stad och den stad i landet som
                                har vuxit snabbast under de senaste decennierna. Framför allt är det stadens
                                universitet, som faktiskt är ett av de äldsta i världen, och de företag och industrier
                                som växer fram i forskningsmiljöerna som gör att staden stadigt ökar i invånarantal.</p>
                            <p class="content">Montpellier ligger mellan Medelhavet och bergen i nationalparken Parc
                                National des Cévennes. Vid ett besök till Montpellier behöver man alltså inte välja
                                mellan solbadande och vandringsäventyr. Man kan göra bådadera, under samma dag dessutom.
                                Väljer man att stanna i stadens centrum finns ett stort antal sevärdheter att besöka.
                            </p>
                        </div>
                        <div class="column">
                            <figure class="image">
                                <img src="assets/mont-map.png">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="hero is-fullheight" appBackground="assets/road-sunset.jpg">
    <div class="hero-body">
        <div class="card" style="margin:auto;">
            <div class="card-content">
                <figure class="image">
                    <img src="assets/mon-barca.png" style="width:80vmin; height:80vmin;">
                </figure>
            </div>
        </div>
    </div>
</section>

<section class="hero is-fullheight" appBackground="assets/barcelona.png">
    <div class="hero-body">
        <div class="container">
            <div class="card">
                <div class="card-content">
                    <div class="columns">
                        <div class="column">
                            <h1 class="subtitle">Barcelona</h1>
                            <p class="content">Spaniens näst största stad Barcelona är den katalanska kustens pärla och
                                världens fjärde mest besökta stad med upp till 7,1 miljoner turister varje år. Barcelona
                                är huvudstad till både grevskapet Barcelonès och den autonoma regionen Katalonien.
                            </p>
                            <p class="content">Medelhavsstaden Barcelona har vuxit fram på Spaniens nordöstra kust och
                                inrymmer ungefär 1,6 miljoner människor. Räknar man med de närmaste förstäderna är
                                invånarantalet nästan dubbelt så stort, hela 3 miljoner. Barcelona är också en av
                                världens mest tätbefolkade städer med fler än 16 000 invånare per kvadratkilometer.</p>
                        </div>
                        <div class="column">
                            <figure class="image">
                                <img src="assets/barcelona-map.png">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hero is-fullheight" appBackground="assets/sky-sunset.jpg">
    <div class="hero-body">
        <div class="card" style="margin:auto;">
            <div class="card-content">
                <figure class="image">
                    <img src="assets/barca-arn.png" style="width:80vmin; height:80vmin;">
                </figure>
            </div>
        </div>
    </div>
</section>

<section class="hero is-fullheight" appBackground="assets/hamn.jpg">
    <div class="hero-body">
        <div class="container">
            <div class="card">
                <div class="card-content">
                    <div class="columns">
                        <div class="column">
                            <h1 class="subtitle">Pris</h1>
                            <p class="content">
                                Priset kan variera en hel del beroende på hur många dagar man stannar i varje stad, och
                                krav på bil. Till höger har jag räknat med att vi hyr en bekväm bil (SUV, automatisk)
                                från första till sista dagen. Hotellen är den lagom billiga sorten (dubbelrum), kanske
                                med frukost.
                            </p>
                        </div>
                        <div class="column">
                            <table class="table">
                                <thead>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th>Total</th>
                                        <th>32500 kr</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr>
                                        <th><span class="icon is-small">
                                                <span class="mdi mdi-24px mdi-rotate-45 mdi-airplane"></span>
                                            </span></th>
                                        <td>
                                            Stockholm till Nice
                                        </td>
                                        <td>3000 kr</td>
                                    </tr>
                                    <tr>
                                        <th><span class="icon is-small">
                                                <span class="mdi mdi-24px mdi-car"></span>
                                            </span></th>
                                        <td>
                                            Bil hyra & avgifter
                                        </td>
                                        <td>13000 kr</td>
                                    </tr>
                                    <tr>
                                        <th><span class="icon is-small">
                                                <span class="mdi mdi-24px mdi-home"></span>
                                            </span></th>
                                        <td>
                                            Hotell Nice två nätter
                                        </td>
                                        <td>4000 kr</td>
                                    </tr>
                                    <tr>
                                        <th><span class="icon is-small">
                                                <span class="mdi mdi-24px mdi-home"></span>
                                            </span></th>
                                        <td>
                                            Hotell Montpellier en natt
                                        </td>
                                        <td>2500 kr</td>
                                    </tr>
                                    <tr>
                                        <th><span class="icon is-small">
                                                <span class="mdi mdi-24px mdi-hotel"></span>
                                            </span></th>
                                        <td>
                                            AirBNB Barcelona
                                        </td>
                                        <td>8000 kr</td>
                                    </tr>
                                    <tr>
                                        <th><span class="icon is-small">
                                                <span class="mdi mdi-24px mdi-rotate-45 mdi-airplane"></span>
                                            </span></th>
                                        <td>
                                            Barcelona till Stockholm
                                        </td>
                                        <td>2000 kr</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-pager (previous)="scrollUp()" (next)="scrollDown()"></app-pager>
