<section class="hero is-fullheight" appBackground="assets/mountains.jpg">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1">
                Hello
            </h1>
            <h2 class="subtitle is-3">
                Subtitle
            </h2>
        </div>
    </div>
</section>

<section class="hero is-fullheight" appBackground="assets/lake.jpg">
    <div class="hero-body">
        <div class="container">
            <div class="card">
                <div class="card-content">
                    <h1 class="subtitle">Hello world</h1>
                    <p>Hello</p>
                </div>
            </div>
        </div>
    </div>
</section>
<app-pager (previous)="scrollUp()" (next)="scrollDown()"></app-pager>
